#chartSize {
  height: 660px;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
}

#pay-chartSize {
  height: 660px;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 15%;
}

#select-size{
	padding-left: 39%;
	padding-right: 39%;
}

#select-container {
	width:100%;
	padding-bottom:3%
	
}

#league-container{
	width:30%;
	float:left;
	padding-right: 1.75%;
	padding-left: 6%;
}

#home-container{
	width:30%;
	float:left;
	padding-left: 3%;
	padding-right: 1.75%;
}

#away-container{
	width:30%;
	float:left;
	padding-left: 1.75%;
}

#chart-container{
	padding-right: 9%;
	padding-left: 5%
	
}

#show-score-graph {
	padding-right: 40.2%;
	padding-left: 40.2%;
	
}

#displayButton{
	padding-left: 6%;
	padding-top: 3%;
	padding-bottom: 7%
}


