#head1 {
	font-family: 'Bitter', serif;
}

.head2 {
	font-family: 'Fredoka One', cursive;
}

#sidebar-wrapper .sidebar-heading {
    font-size: 1.1rem;
}

div#OpenLayers_Control_Attribution_7 {
    display: none;
}

b, strong {
    font-weight: 700;
}

div#page-content {
    padding: 1rem;
}


#page-content-wrapper {
	margin-bottom:50px;
}





@media (max-width: 991px) {
  .btn-group.my-btn-group-responsive > .btn {
    display: block;
    width: 100%;
  }
	
  #league-container {width:100%;}
  #home-container {width:100%;}
  #away-container {width:100%;}
  
  
  /* making the border-radius correct */
  .btn-group.my-btn-group-responsive > .btn:first-child {
    border-radius: 6px 6px 0 0;
  }
  .btn-group.my-btn-group-responsive > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 6px;
  }
  .btn-group.my-btn-group-responsive > .btn:last-child:not(:first-child) {
    border-radius: 0 0 6px 6px;
  }
  
  /* fixing margin */
  .btn-group.my-btn-group-responsive .btn + .btn {
    margin-left: 0;
  }
  
}