#map-pad {
	padding-left:0%;
	
}

#map{
	float:left;
}

#search-container{
	width:40%;
	height:400px;
	background-color:rgba(203, 218, 242,0.5);
	float:left;
}

.bottom-container{
	position: relative;
}

.forecast-container:hover {
    box-shadow: 0 0 3px 2px rgba(0, 141, 190, 0.6);
	background-color: rgba(186, 199, 221, 0.5);
}

#search-container:hover {
    
	background-color: rgba(186, 199, 221, 0.5);
}


.forecast-container{
	/*width:14%;*/
	height:280px;
	float:left;
	margin:0.12%;
	background-color:rgba(203, 218, 242,0.5);
}

.forecast-section{
	position:relative;
}



.padding{
	padding:1%;
	
}

.cast-date{
	float:left;	
	width:50%;
}

.cast-avg-temp{
	float:left;
	width:50%;
}

.cast-max-temp{
	float:left;
	width:50%;
}

.cast-condition{
	float:left;	
	width:50%;
	margin-bottom:0%;
}

.imagePos {
	position:center;
	width:64px;
	height:64px;
	padding-left:33%;

}

.buffer {
	padding-top: 33%;
	
}

.curr-imagePos{
	padding-left:50%;
	
}


h4 {
	padding-left:0.75%;
}

h3 {
	padding-left:0.75%;
	
}

@media only screen and (max-width: 700px) {
    .forecast-container {
    width: 100%;
}

#top-stuff{
	position:relative;
	width:100%;
	
}

#map-pad{
	position:relative;
	padding-bottom:15px;
    display: inline-block;
	/*width:166%;*/
}

#search-container{
	position:relative;
	width:100%;

}

#forecast-section{
	position:relative;
	/*width:70%;*/
	
}

#bottom-container{
	padding-bottom:15px;
    display: inline-block;
	
}

.padding{
	padding-left:15%;
	
}

}
